.error-card{
    font-size: 1em;
    border: 2px black solid;
    padding: 25px;
    border-radius: 5px;
    max-height: 500px;
    position:relative;
    text-align: center;
  }
  
  .text{
    margin-top:-15px;
  }
  
  .error-code{
    border-bottom: 1px solid black;
    width: 450px;
    font-size: 13em;
  }
  
  .card-button {
      margin-top:5px;
      margin-left: -53px;
      position:absolute;
  }